/*Forms*/
.inline-this {
  display: inline;
  padding-top: 0.1em;
  line-height: 3em;
}

.inline-next {
  font-size: 1.6em;
  div {
    label {
      display: inline;
      margin-left: 0.1em;
      margin-right: 0.1em;
      margin-bottom: 0.3em;
      padding-top: 0.1em;
      line-height: 3em;
    }
    div {
      display: inline;
      input {
        font-size: 1.4em;
      }
    }
  }
}

.form-input-label > label {
  font-size: 1.6em;
}

input[type='text'],
input[type='email'],
input[type='password'],
select.form-control {
  height: 1.4em;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
select.form-control:focus {
     -webkit-box-shadow: 0 2px 1px -1px $color-b1;
     box-shadow: 0 2px 1px -1px $color-b1;
}

select.form-control:focus {
  background-color: $color-b2;
  color: $color-g1;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form-main {
  background-color: rgba(255,255,255,0.5);
  padding: 1em;
  border-radius: 4px;
  min-width: 500px;
}

@media (max-width: 600px) {
  .form-main {
    min-width: 280px;
  }
}

.form-left {
  flex: 2 1 auto;
}

.form-right {
  flex: 1 1 auto;
}

.form-input-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form-input-label {
  flex: 1 1 auto;
}

.form-input-field {
  flex: 2 2 auto;
}

.edit-in-place {
  margin-left: 1em;
}

.form-box {
  margin-bottom: 2em;
  padding: 0.5em;
  color: inherit;
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 1px;
}

.form-box button {
  margin: 4px;
}

.static-txt {
  margin-left: 1em;
}

textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
label:focus,
.btn:active {
  outline:0px !important;
}
