
// Colors
$color-b1: #4183d7; // Royal Blue
$color-b2: #c6d9f3;
$color-b3: #2e5c98;
$color-b4: #13254B; // Dark Royal
$color-o1: #F9B29D; // Light Crusta
$color-o2: #F2784B; // Crusta
$color-g1: #6C7A89; // Lynch
$color-g2: #ccc;
$color-w1: #fefefe;
$color-er: #dd0000; // error
$color-wa: #dd9900; // warning
